.board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
}
.board__cell {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.players__names {
    width: 200px;
}
.players__name-label {
    display: block;
    margin-bottom: 8px;
}
.text {
    display: block;
    margin-bottom: 10px;
}